<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <meta property="og:description" content="vai vim descrição ainda" />
      <!-- <meta property="og:image"  content="./images/imgLink.jpeg"/> -->
      <meta property="og:title"       content="vai vim title ainda" />
      <link rel="stylesheet" href="{{ url_for('static', filename='style/css/default.css') }}" />
      <title>Devs-Absolutos</title>
    </head>
    <body>
      <center>
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Discord</li>
                <li>Softwares</li>
                <li>Contato</li>
            </ul>
        </nav>
        <h1>Bem Vindos(as)</h1>
        <div>
            <p>
            Essa Plataforma Foi Desenvolvida Para Estutandes de Programação<br/>
            Linguagens Usadas Para Criação Dessa Plataforma São:<br/>
            </p>
            
            <div class="list">
                <div class=titulo>Linguagens</div>
                <ul>
                  {% for lang in langs %}
                      <li>{{lang}}</li>
                  {% endfor %}
                </ul>
            </div>
            <script src="{{ url_for('static', filename='JS/list.js') }}"></script>

            
            </p>
            <p>
                Nossa Plataforma Disponibiliza Softwares Para Estudos De Programação<br/>
                No Botão Abaixo Deixamos Os Scripts Criados pelos Desenvolvedor Da Plataforma Atual.<br/>
            </p>
            <input type="submit" value="Scripts">
        </div>

        <div>
            <h3>Cursos Recomendados Pelos Criadores:</h3>
            
              {% for curso in cursos %}
                <br/>{{curso}}<br/>

                  {% if curso == 'Python' %}
                    <a href="{{cursos['Python']}}">
                      <input type="submit" value="Assistir Curso De {{curso}}!">
                    </a><br/>

                  {% elif curso == 'JavaScript' %}
                    <a href="{{cursos['JavaScript']}}">
                      <input type="submit" value="Assistir Curso De {{curso}}!">
                    </a><br/>

                  {% elif curso == 'PHP' %}
                    <a href="{{cursos['PHP']}}" >
                      <input type="submit" value="Assistir Curso De {{curso}}!">
                    </a><br/>

                  {% else %}
                    <a href="{{cursos['HTML & CSS']}}">
                      <input type="submit" value="Assistir Curso De {{curso}}!" ></a>
                    <br/>
                  {% endif %}
                {% endfor %}
            
        </div>
      </center>
    </body>
    <footer>

    </footer>
</html>
